[submodule "vendor/soundmanager2"]
	path = vendor/soundmanager2
	url = git://github.com/scottschiller/SoundManager2.git
[submodule "vendor/uri.js"]
	path = vendor/uri.js
	url = git@github.com:jwagener/uri.js.git
[submodule "vendor/recorder.js"]
	path = vendor/recorder.js
	url = git@github.com:jwagener/recorder.js.git
[submodule "vendor/legacy"]
	path = vendor/legacy
	url = git@github.com:soundcloud/sc-connect.git
[submodule "vendor/dialogs"]
	path = vendor/dialogs
	url = git@github.com:soundcloud/dialogs.git
