#left, #right {
  width: 45%;
  float: left;
}

#right {
  width: 40%;
  padding-left: 30px;
  margin-left: 30px;
  border-left: 1px solid #eee;
}

#right pre {
  overflow: scroll;
}

.example {
  border-top: 1px solid #eee;
  padding-top: 30px;
  width: 100%;
}

.big.button {
  width: 100%;
  margin-bottom: 30px;
}

.fullWidth {
  width: 100%;
}